    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello user</title>
  </head>
  <body>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong> <h1>drop your tedxt here </h1></strong> 
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
          </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item Aboutus">
              <a class="nav-link" href="#">Aboutus</a>
            </li>            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="http://127.0.0.1:8000/phno/">Ph.no</a>
                  <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://127.0.0.1:8000/emailid/">email id</a>
                  </div>
            </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Welcome to TextUtils!</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
    </div>  

    <div class="container">
      <form action="/analyse" method="POST">{% csrf_token %} 
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Enter your text here and let Text Utils do the magic</label>
          <textarea class="form-control" name='text' id="exampleFormControlTextarea1" rows="9"></textarea>
        </div>

      <div class="custom-control custom-switch">
        <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">Remove Punctuations</label>
      </div>

      <div class="custom-control custom-switch">
        <input type="checkbox" name="fullcaps" class="custom-control-input" id="customSwitch2">
        <label class="custom-control-label" for="customSwitch2">uppercase</label>
      </div>

      <div class="custom-control custom-switch">
        <input type="checkbox" name="newlineremover" class="custom-control-input" id="customSwitch3">
        <label class="custom-control-label" for="customSwitch3">newlineremover</label>
      </div>

      <div class="custom-control custom-switch">
        <input type="checkbox" name="extraspaceremover" class="custom-control-input" id="customSwitch4">
        <label class="custom-control-label" for="customSwitch4">extraspaceremover</label>
      </div>

      <div class="custom-control custom-switch">
        <input type="checkbox" name="charactorcounter" class="custom-control-input" id="customSwitch5">
        <label class="custom-control-label" for="customSwitch5">charactorcounter</label>
      </div>
      
      <button type="submit" class="btn btn-dark">Analisetext</button>
        </form>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
